<a href="https://colab.research.google.com/github/thrcle/DataHandling/blob/main/%ED%8C%8C%EC%9D%BC_%EC%9D%B4%EB%A6%84_%ED%8F%AC%EB%A7%B7_%EC%84%A4%EC%A0%95_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 2-1.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# 6. 원하는 데이터 추가하기
# 6-5 Insert data
# 1) by declaring a new list as a column
# 2) using .loc[]
# 3) using the .assign()

In [ ]:
!ls -al '/content/drive/MyDrive/fc'

total 1006
lrw------- 1 root root      0 Mar 21 14:34  바이블_강의자료 -> /content/drive/.shortcut-targets-by-id/17lGRMiGzsuJ0xqhIkO9UEOhfOr0QQPsK/바이블_강의자료
-rw------- 1 root root   8901 Mar 28 13:05  2-1.ipynb
-rw------- 1 root root 337847 Apr 30  2021  data_202001.csv
-rw------- 1 root root 314682 Apr 30  2021  data_202002.csv
-rw------- 1 root root 335953 Apr 30  2021  data_202003.csv
-rw------- 1 root root  26633 Mar 25 02:08  TensorflowRegression.ipynb
drwx------ 2 root root   4096 Mar 21 11:34 '파트별 코드 및 기타 자료(바이블).zip (Unzipped Files)'

In [ ]:
pd.read_csv("/content/drive/MyDrive/패캠/data_202001.csv")

           집계일자  집계시  출발영업소코드  도착영업소코드   통행시간  요일
0      20200101    4      101      105    637   2
1      20200101    4      101      105    773   2
2      20200101    4      101      105    762   2
3      20200101    4      101      105    746   2
4      20200101    4      101      105    875   2
...         ...  ...      ...      ...    ...  ..
12744  20200131   10      101      125   7776   4
12745  20200131    2      101      140  14189   4
12746  20200131    4      101      110   3780   4
12747  20200131   15      101      120   8269   4
12748  20200131   18      101      130   9769   4

[12749 rows x 6 columns]

In [ ]:
INPUT_PREFIX = './data/data_2020'
OUTPUT_PREFIX = './data/data_2020'
OUTPUT_EXTENSION='.csv'

output_datafrmes=[]

def generateData(month):   # 파일의 이름을 바꾸는 함수+data cleansing
  month_string=str(month)
  if len(month_string)==1:
    month_string='0'+month_string(month)

  input_file=INPUT_PREFIX+month_string
  output_file= OUTPUT_PREFIX+month_string+OUTPUT_EXTENSION
  print('INPUT : ',input_file, "OUTPUT : ", output_file)
  data=pd.read_csv(input_file, sep=',', encoding='euc')

  output_datafrmes.append(input_file)


for month in range(2,4):
  generateData(month)
output_data=pd.concat(output_datafrmes, ignore_index=True, sort=False)
final=OUTPUT_PREFIX+OUTPUT_EXTENSION
output_data.to_csv(final, index=None, header=True)